<app-home-restaurant></app-home-restaurant>
<h2 class="titulo">Lista de platillos</h2>
<div class="container">
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Buscar</button>
            </div>
          </div>
        <table class="table ">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <button class="btn btn-outline-secondary" type="button">Editar</button>
                <button class="btn btn-outline-secondary" type="button">Eliminar</button>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <button class="btn btn-outline-secondary" type="button">Editar</button>
                <button class="btn btn-outline-secondary" type="button">Eliminar</button>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <button class="btn btn-outline-secondary" type="button">Editar</button>
                <button class="btn btn-outline-secondary" type="button">Eliminar</button>
              </tr>
            </tbody>
          </table>
    </div>
</div>