//Todos los estilos globales en este archivo 
body{
    background-color: rgb(255, 255, 255);
}
.titulo{
   margin-top: 15px;
   text-align: center;
}
.btn{
    background-color: #9A1912;
    color:white;
}
.custom-navbar-color {
    background-color: #9A1912;
    color: white;
}


 