//Todos los estilos globales en este archivo 
body{
    background-color: rgb(255, 255, 255);
}
.titulo{
   margin-top: 15px;
   text-align: center;
}
.btn{
    background-color: #d5391a;
    color:white;
}
.btn:hover {
    background-color: #731d1d;
    color: rgb(255, 255, 255);
} 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }



 