.content {
    min-height: calc(100vh - 100px); /* Ajusta el contenido para que el footer quede siempre abajo */
  }
  .footer {
    background-color: #720303;
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  