.custom-navbar-color {
    background-color: hsla(10, 78%, 47%, 0.992);
    color: white;
    position: fixed;
    width: 100%; /* Asegura que ocupe toda la anchura */
    top: 0; /* La barra de navegación se fija en la parte superior */
    z-index: 1000; 
}
